.form p{
  margin-top: 10px;
  font-size: 17px;
  font-weight: bold;
}
.form{
  margin-bottom: 15vh;
}
.formBuy{
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: auto;  
  padding: 10px;
}

.formBuy input{
    margin-bottom: 10px;
}

.formBuy span{
    color: #ff1e1e79 ;
}
